* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
}

main {
    display: flex;
    background-color: #1F2937;
    padding-bottom: 3em;
    justify-content: center;
    align-items: center;
}

#logo {
    margin-top: 2em;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #F9FAF8;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

h4 {
    font-size: 18px;
    color: #F9FAF8;
    margin-right: 6em;
}


#sup-btn1 {
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 10px;
}

#leftcontent {
    width: 39%;
}

#rightcontent {
    position: relative;
    right: 1.6em;
}

#peripherals {
    text-align: center;
    padding-bottom: 4em;
}

h2 {
    margin-top: 2em;
    font-size: 30px;
    font-weight: bolder;
    color: #1F2937;
}

.squareimg {
    width: 220px;
    height: 220;
    border: solid 4px #3882F6;
    border-radius: 15px;
}

#imgpos {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 4em 15em 0;
}

figcaption {
    margin: 0 1.5em;
}

.subtextdecor {
    text-decoration: underline;
    font-weight: bold;
}

#quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#faker {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 3em 5em 6em;
}

#player {
    align-self: flex-end;
    font-size: 34px;
    font-weight: bold;
    margin: -5em 6em 2em 6em;
}

#cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    color: #F9FAF8;
}

#ctatext {
    margin-right: 20px;
    background-color: #3882F6;
    padding: 2em 12em;
    border-radius: 10px;
    
}
#ctatext h5 {
    font-size: 24px;
}

#ctatext p {
    font-size: 18px;
}

#ctabtn {
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 15px;
    border: #F9FAF8 solid;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    background-color: #1F2937;
    padding: 2em 5em;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #F9FAF8;
    font-size: 20px;
}